{% extends "base.html.j2" %}
{% block content %}
<div class="row">
  <div class="small-2 medium-4 columns category-list">
    {%include 'category_list.html.j2'%}
  </div>
  <div class="columns align-self-middle">
    <a href="{{auth_url}}">
        <div class="gsignin">
          <img id="gsignin" onmouseover="onMouseOver()" onMouseOut="onMouseOut(this)" onclick="onClick()" src="{{url_for('static', filename="images/gsignin.svg")}}" alt="">
          <span>Sign in with Google</span>
        </div>
    </a>
  </div>
</div>
{% endblock %}
