{% extends "base.html.j2" %}
{% block content %}
  <a href="{{auth_url}}">
    <img  id="gsignin" onmouseover="onMouseOver()" onMouseOut="onMouseOut(this)" onclick="onClick()" src="{{url_for('static', filename="images/gsignin.png")}}" alt="">
  </a>
{% endblock %}
