{% extends "base.html.j2" %}
{% block content %}
<div class="row">
  <div class="small-2 medium-4 columns category-list">
    {%include 'category_list.html.j2'%}
  </div>
  <div class="columns align-self-middle text-center signin">
    <a href="{{auth_url}}">
      <img  id="gsignin" onmouseover="onMouseOver()" onMouseOut="onMouseOut(this)" onclick="onClick()" src="{{url_for('static', filename="images/gsignin.png")}}" alt="">
    </a>
  </div>
</div>
{% endblock %}
