.title-bar {
    background: #333;
    color: #fefefe;
}

.title-bar .menu {
    background: #333;
}

.title-bar .menu a {
    color: #fefefe;
}

.title-bar a {
    color: inherit;
}

.category-list {
    display: none;
    border-right: 1px solid;
}

.form-create-item {
    max-width: 300px;
    margin: auto;
}

.form-create-item button {
    width: 100%;
    max-width: 300px;
}


/*Medium and up*/

@media screen and (min-width: 40em) {
    .category-toggler {
        display: none;
    }
    .category-list {
        display: block;
    }
    .form-create-item {
        max-width: none;
    }
    .signin {
        text-align: inherit;
    }
}


/*small only*/

@media screen and (max-width: 39.9375em) {}
