<div class="off-canvas position-left" id="categories-offcanvas" data-off-canvas>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="vertical menu">
    <li>Categories</li>
    {%for category in categories%}
      <li>
        <a href="{{url_for('catalog.items_by_category', category_name=category.name)}}">
          {{category.name}}
        </a>
      </li>
    {%endfor%}
  </ul>
</div>
