<header>
  <div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon category-toggler" type="button" data-open="categories-offcanvas"></button>
      <strong><a href="{{url_for('catalog.home')}}">Catalog App</a></strong>
    </div>
    <div class="title-bar-right">
      <span>
        {% if current_user.is_authenticated %}
          <a href="{{url_for('auth.logout')}}" class="button">Logout</a>
        {% else %}
          <a href="{{url_for('auth.login')}}" class="button">Login</a>
        {% endif %}
      </span>
        <!-- <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li> -->
    </div>
  </div>
</header>
