{% extends "base.html.j2" %}
{% block content %}
<div class="row">
  <div class="small-2 medium-4 columns category-list">
    {%include 'category_list.html.j2'%}
  </div>
  <div class="small-8 medium-8 columns">
    <div class="category-items">
      <h1>{{category_name}}</h1>
      {% if items %}
        <ul class="no-bullet">
          {% for item in items %}
            <li>
              <a href="{{url_for('catalog.get_item', category_name=item.category.name, item_title=item.title)}}">
                {{item.title}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
