{% extends "base.html.j2" %}
{% block content %}
  <h1>Home</h1>


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h2>Categories</h2>
  <ul>
    {% for category in categories %}
      <li>
        {{category.name}}
      </li>
    {% endfor %}
  </ul>

  <h2>Lates Items</h2>
  <ul>
    {% for item in top_items %}
      <li>
        {{item.title}} ({{item.category.name}})
      </li>
    {% endfor %}
  </ul>
{% endblock %}
